StepFunction
{
  "Comment": "A state machine that stop dms, resize redshift and then start dms.",
  "StartAt": "Stop DMS",
  "States": {
    "Stop DMS": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "Wait DMS Stop X Seconds",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Job DMS Stop Failed"
        }
      ]
    },
    "Job DMS Stop Failed": {
      "Type": "Fail",
      "Cause": "Job DMS Stop Failed",
      "Error": "Job Failed"
    },
    "Wait DMS Stop X Seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Get DMS Stop Job Status"
    },
    "Get DMS Stop Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "DMS Stop Job Complete?",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "DMS Stop Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Finished",
          "StringEquals": "True",
          "Next": "Snapshot Redshift"
        }
      ],
      "Default": "Wait DMS Stop X Seconds"
    },
    "Snapshot Redshift": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "Resize Redshift",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Job Snapshot Redshift Failed"
        }
      ]
    },
    "Job Snapshot Redshift Failed": {
      "Type": "Fail",
      "Cause": "Job Snapshot Redshift Failed",
      "Error": "Job Failed"
    },
    "Resize Redshift": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "Redshift reach max node number?",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Job Resize Redshift Failed"
        }
      ]
    },
    "Job Resize Redshift Failed": {
      "Type": "Fail",
      "Cause": "Job Resize Redshift Failed",
      "Error": "Job Failed"
    },
    "Redshift reach max node number?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.maxnode",
          "StringEquals": "True",
          "Next": "Start DMS"
        }
      ],
      "Default": "Wait Resize Redshift X Seconds"
    },
    "Wait Resize Redshift X Seconds": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Get Resize Redshift Job Status"
    },
    "Get Resize Redshift Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "Resize Redshift Job Complete?",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "Resize Redshift Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Finished",
          "StringEquals": "True",
          "Next": "Start DMS"
        }
      ],
      "Default": "Wait Resize Redshift X Seconds"
    },
    "Start DMS": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "Wait DMS Start X Seconds",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Job DMS Start Failed"
        }
      ]
    },
    "Job DMS Start Failed": {
      "Type": "Fail",
      "Cause": "Job DMS Start Failed",
      "Error": "Job Failed"
    },
    "Wait DMS Start X Seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Get DMS Start Job Status"
    },
    "Get DMS Start Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:your_account_number:function:ResizeRedshift_StopDMS",
      "Next": "DMS Start Job Complete?",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "DMS Start Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Finished",
          "StringEquals": "True",
          "Next": "Job Finished"
        }
      ],
      "Default": "Wait DMS Start X Seconds"
    },
    "Job Finished": {
      "Type": "Succeed"
    }
  }
}
